@tailwind base;
@tailwind utilities;
@tailwind components;

@layer utilities{
    *{
        font-family: "Roboto";
        scroll-behavior: smooth;
    }
    .swiper {
        width: 100%;
        height: 100%;
    }

    .swiper-slide {
        text-align: center;

        display: flex;
        justify-content: center;
        align-items: center;

    }
    .backdrop{
        background-color: rgba(128, 128, 128, 0.7);
    }
}